    <div class="row justify-content-center">
        <div class="card shadow p-4 col-md-10 col-lg-8 col-xl-6">
            <h3 class="text-center mb-3">Tic Tac Toe</h3>
            <h4>Szobakód: <%= roomCode %></h4>
            <h4>Username: <%= username %></h4>
            <div class="container text-center">
                <div class="row g-0">
                    <div class="col-4 border">
                        <button class="btn w-100 py-4 fs-2 h-100">&nbsp;</button>
                    </div>
                    <div class="col-4 border">
                        <button class="btn w-100 py-4 fs-2 h-100">&nbsp;</button>
                    </div>
                    <div class="col-4 border">
                        <button class="btn w-100 py-4 fs-2 h-100">&nbsp;</button>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-4 border">
                        <button class="btn w-100 py-4 fs-2 h-100">&nbsp;</button>
                    </div>
                    <div class="col-4 border">
                        <button class="btn w-100 py-4 fs-2 h-100">&nbsp;</button>
                    </div>
                    <div class="col-4 border">
                        <button class="btn w-100 py-4 fs-2 h-100">&nbsp;</button>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-4 border">
                        <button class="btn w-100 py-4 fs-2 h-100">&nbsp;</button>
                    </div>
                    <div class="col-4 border">
                        <button class="btn w-100 py-4 fs-2 h-100">&nbsp;</button>
                    </div>
                    <div class="col-4 border">
                        <button class="btn w-100 py-4 fs-2 h-100">&nbsp;</button>
                    </div>
                </div>
            </div>
            <div class="text-center mt-3">
                <p class="mb-2 fw-semibold">Player X mozdul</p>
                <button class="btn btn-primary">Játék reset</button>
            </div>
        </div>
    </div>