<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TicTacToe</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="chat_app.css">
    <script src="bootstrap.min.js"></script>
</head>
<body data-bs-theme="dark">
    <div class="container">
        <header>
            <h1 class="text-center">TicTacToe socket.io játék</h1>
        </header>
        <main>