<div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4 text-center">

    <h3 class="mb-3">Belépés</h3>
    <form>
        <div class="mb-3">
            <label class="form-label">Név</label>
            <input type="text" class="form-control" placeholder="Add meg a neved...">
        </div>

        <div class="mb-4">
            <label class="form-label">Szoba kód</label>
            <input type="text" class="form-control" placeholder="Pl.: ABC123">
        </div>

        <div class="d-grid">
            <button type="submit" class="btn btn-primary btn-lg">
                Csatlakozás
            </button>
        </div>
    </form>
</div>